%link{:href => "/stylesheets/responstable.css", :rel => "stylesheet", :type => 'text/css'}/
%link{:href => "/stylesheets/styles.css", :rel => "stylesheet", :type => 'text/css'}/
%script{:src => "/js/mqtt-visualizer.js"}
%body
  #node
    %h1 GIF2015 workshop cheat table
    %table.responstable
      %tr
        %th ID
        %th OpenBlocks MAC address
        %th SensorTag MAC address
        %th IP address
        %th Last Updated
        %th Status
      - @nodes.each do |m| 
        %tr
          %td #{m.id}
          %td #{m.device_mac}
          %td #{m.sensor_mac}
          %td #{m.ip}
          %td #{m.updated_at}
          %td N/A

