%link{:href => "/stylesheets/responstable.css", :rel => "stylesheet", :type => 'text/css'}/
%link{:href => "/stylesheets/styles.css", :rel => "stylesheet", :type => 'text/css'}/
%script{:src => "/js/date.format.js"}
%script{:src => "/js/node-status.js"}
%body
  #node
    %h1 GIF IoT Workshop Device Manager
    %table#nodeTable.responstable
      %tbody
        %tr
          %th ID
          %th OpenBlocks MAC address
          %th Paird SensorTag MAC address
          %th IP address
          %th Last Updated
          %th Status
        - @nodes.each do |m| 
          %tr{:id => "device-#{m.id}"}
            %td.animated.id #{m.id}
            %td.animated.device_mac #{m.device_mac}
            %td.animated.sensor_mac
              %a{:href => "https://quickstart.internetofthings.ibmcloud.com/#/device/#{m.sensor_mac.gsub(/:/, '').downcase}/sensor/", :target => "_blank"} #{m.sensor_mac}
            %td.animated.ip #{m.ip}
            %td.animated.updated_at #{m.updated_at}
            %td.status.down down

